* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.tabbtns{
    width: 50%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(208, 231, 238);
    padding: 1rem;
    border-radius: 5px;
}

.tabbtns button{
padding: 5px 10px;
background-color: transparent;
border: 2px solid rgb(104, 104, 224);
color:rgb(104, 104, 224);
font-family: monospace;
font-weight: bold;
border-radius: 5px;
}

.tabcontents{
    width: 50%;
    margin: 1rem auto;
    border-radius: 5px;
    height: 150px;
    background-color: rgb(208, 231, 238);
    text-align: center;
    font-family: monospace;
    padding: 2rem;
    display: none;
}

.tabcontents p{
    margin: 10px;
}

.tabbtns button.active{
    background-color: rgb(175, 174, 174);
}

