* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 30%;
    height: 300px;
    font-family: monospace;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

#counter{
    font-size: 35px;
    width: 60px;
    height: 60px;
   padding: 9px;
   border-radius: 5px;
    margin-bottom: 1rem;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: white;
}

button{
    padding:  8px 15px ;
    border: none;
    margin: 15px;
    font-family: monospace;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    }